.teacher {
  background-color: #333;
  color: #333;
  padding-top: 80px;
  height: 100%;
}

.create-quiz {
  text-align: left;
}

.input-group:focus {
  background-color: #1abc9c;
}

.input-group {
  cursor: pointer;
}
