<main class="teacher">
  <div class="container">
    <article class="col-md-6 col-md-offset-3">
      <section class="row">
        <div class="well" ng-hide="creatingQuiz || quizSubmitted">
          <p>
            <button class="btn btn-primary" ng-click="showCreate()">Create Quiz</button>
          </p>
          <p>There is currently no active quiz. Make a new question here.</p>
        </div>
      </section>
      <section class="row">
        <div class="create-quiz well" ng-show="creatingQuiz">
          <form name="newQuiz" action="" role="form" novalidate ng-submit="preventDefault()">
            <div class="form-group">
              <p>Question:</p>
              <textarea class="form-control" rows="2" ng-model="quiz.question" placeholder="Add the question..."></textarea>
            </div>
            <div class="form-group quiz-answers">
              <p>Answers:</p>
              <div class="input-group" ng-repeat="answer in quiz.answers track by $index">
                <span class="input-group-addon" ng-click="markCorrect($index)">c</span>
                <input type="text" class="form-control" value="{{ answer }}">
                <span class="input-group-addon" ng-click="removeAnswer($index)">x</span>
              </div>
              <div class="input-group add-answer">
                <input type="text" class="form-control" ng-model="newAnswer">
                <span class="input-group-addon" ng-click="addAnswer()">+</span>
              </div>
            </div>
          </form>
          <button class="btn btn-primary" ng-click="submitQuiz()">Send Quiz</button>
        </div>
      </section>
      <section class="row">
        <div class="responses well" ng-show="quizSubmitted">
          <!-- <svg class="chart"></svg> -->
          <div class="well">
            <h4>Student Responses</h4>
            <p ng-repeat="(key, value) in responses"><span class="username">{{ key }}</span> : {{ value }}</p>
          </div>
          <!-- <div class="well">
            <h4>Incorrect Responses</h4>
            <div class="row">
              < ng-repeat="answer in quiz.answers | filter: !correctAnswer" <h5></h5>
              <div class="col-md-2"><p ng-repeat="response in responses | filter : {answer: !correctAnswer}">{{ response.username }} : {{ response.answer }}</p></div>
            </div>
          </div> -->
          <button class="btn btn-warning" ng-click="closeQuiz()" ng-show="open">Close Quiz</button>
          <button class="btn btn-info" ng-click="reopenQuiz()" ng-hide="open">Reopen Quiz</button>
          <button class="btn btn-danger" ng-click="resetQuiz()">Clear Quiz</button>
        </div>
      </section>
      <!-- <section class="row">
        <div>
          <pre>responses: {{ responses }}<br>quiz: {{ quiz }}<br>newAnswer: {{ newAnswer }}<br>correctAnswer: {{ correctAnswer }}</pre>
          <button ng-click="test()">test</test>
        </div>
      </section> -->
    </article>
  </div>

</main>
