<div class="signin-container">
  <div class="container">

    <form class="form-signin" action="preventDefault()">
      <h2 class="form-signin-heading">Please sign in</h2>
      <!-- <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" name="username" id="username" class="form-control" ng-model="user.username" placeholder="Enter your name" autofocus required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
    </form>
    <button class="btn btn-lg btn-primary btn-block" ng-click="signin()">Sign In</button>

  </div> <!-- /container -->
</div>
